<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>South Shore Hand Therapy & Occupational Therapy PLLC</title>
    <link rel="shortcut icon" href="http://farm6.staticflickr.com/5496/12597503235_1f5ef5d5ba_o.jpg"/>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  </head>

  <body>

    <div class="header">
      <div class="row">
        <div class="large-7 columns">
          <h2><a href="/"><img src="http://farm6.staticflickr.com/5496/12597503235_1f5ef5d5ba_o.jpg"></a> South Shore Hand Therapy</h2>
        </div>
        <div class="large-5 columns nav-header">
          <ul class="button-group right">
            <li><a href="/about" class="button">Who We Are</a></li>
            <li><a href="/contact" class="button">Contact Us !</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer class="row">
      <div class="large-12 columns footer">
        <hr />
        <div class="row">
          <ul class="inline-list right">
            <li><div class="row"><i class="fa fa-phone"></i> (516) 868-5302</div></li>
            <li>|</li>
            <li><div class="row"><i class="fa fa-building-o"></i> 2108 Merrick Mall, Merrick NY 11566</div></li>
            <li>|</li>
            <li><a href="mailto:sshandtherapy@gmail.com">Email Us.</a> </li>
            <li>|</li>
            <li><div class="row"><a href="https://www.facebook.com/southshorehandtherapy"><i class="fa fa-facebook"></i></a></div></li>
          </ul>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
